
.footerDiv{
    margin-top: 90px;
    width: 83%;
    height: 90px;
    border-bottom: 1px solid rgb(92, 89, 89);
    margin-right: 80px;
    margin-left: 100px;
    
}
.footer{
   
    width: 100%;
    padding: 0 5rem;
   
    opacity: 0.8;
    display: flex;
   

    
    font-size: 12px;
}
.footerList{
    display: flex;
    margin-left: 80px;
   
    font-size: 10px ;
    color: black;
    font-weight: lighter;
    padding-top: 3px;
}
h1{
    cursor: pointer;
}
.footerList h1{
    margin-left: 28px;
    cursor: pointer;
}
